# === GENERAL ===
.DS_Store
Thumbs.db
*.log
*.tmp

# === GIT ===
*.swp
*~
.idea/
*.iml

# === IOS ===
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcuserstate
HandyBuddy/GoogleServices-info.plist

# Xcode
*.xcworkspace
Pods/
Podfile.lock
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcodeproj/xcuserdata/
